@import "../bootstrap";
@import "../index.css";

.home {
    @extend .container-fluid;

    width: 100%;
    height: 100vh;
    background-color: hsl(240, 19%, 8%);

    position: absolute;
}

.homeBox {
    @include make-row();

    height: 50%;
    
    display: flex;
    justify-content: center;
}

div.homeBox {
    align-items: flex-end;
}

form.homeBox {
    align-items: flex-start;
}

.homeText {
    font-family: "Ubuntu";
    font-size: 8em;
    color: white;
    text-align: center;
}

.homeInput {
    @extend .form-control;
    @extend .m-3;

    width: 100%;
    height: 3em;

    display: block;

    font-family: "Ubuntu";
    font-size: 1.5em;
}

@include media-breakpoint-up(sm) {
    .homeInput {
        margin: 0px;
        width: 50%;
    }
}

@include media-breakpoint-up(xl) {
    .homeInput {
        margin: 0px;
        width: 33%;
    }
}
