@use "../vars.scss" as *;

// @import "../../../node_modules/bootstrap/scss/grid";
@use "../bootstrap.scss" as *;
// @import "../../../node_modules/bootstrap/scss/card";

.card {

    &Title, &Author {
        display: inline-block;
        word-wrap: break-word;

        width: inherit; 
    }

    &Title {
        color: $primary;
        @extend .mb-2;
        @extend .card-title;

        width: inherit;
    }
}

.cardDesc {
    color: $secondary;
    @extend .mb-2;
    @extend .card-subtitle;
}
