@use "../vars.scss" as *;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

.card {

    &Title, &Author {
        display: inline-block;
        word-wrap: break-word;

        width: inherit; 
    }

    &Title {
        color: $primary;
        @extend .mb-2;
        @extend .card-title;

        width: inherit;
    }
}

.cardDesc {
    color: $secondary;
    @extend .mb-2;
    @extend .card-subtitle;
}
