@import 'scss/bootstrap';
@import 'scss/index.css';

.nav {
    &Brand {
        @extend .navbar-brand;

        font-size: 6em;

        & > img {
            @extend .d-inline-block;
            @extend .align-text-top;

            width: .85em;
            height: .85em;
        }

        & > em {
            color: white;
        }
    }
}

.nav {
    &Form {
        @extend .d-flex;
    }

    &Input {
        @extend .form-control;

        font-size: 1em;
        width: 25vw;
        height: 3em;
    }
}