@import 'scss/bootstrap';
@import 'scss/index.css';

// NAVBRAND

.navBrand {
    @extend .navbar-brand;

    font-size: 6em;

    & > img {
        @extend .d-inline-block;
        @extend .align-text-top;

        width: 0.85em;
        height: 0.85em;
    }

    & > em {
        color: white;
    }
}

// FLEX CONTAINER

.navFlex {
    @extend .container-fluid;

    // because .navbar > .container-fluid bootstrap
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@include media-breakpoint-up(lg) {
    .navFlex {
        flex-direction: row;
    }
}

// FORM

.navForm {
    @extend .d-flex;
}

.navInput {
    @extend .form-control;

    font-size: 1em;
    width: 25vw;
    height: 3em;
}

@include media-breakpoint-down(lg) {
    .navForm,
    .navInput {
        width: 50vw;
    }
}
